<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eazyedu" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/eazyicon_eazyedu"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:versionCode="2"
        android:versionName="1.2" >
        <activity
            android:name=".Navigation"
            android:label="EazyEdu"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ContactUs"
            android:label="@string/title_activity_contact_us"
            android:parentActivityName=".Navigation" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Navigation" />
        </activity>
        <activity
            android:name=".ViewBlog"
            android:label="@string/title_activity_view_blog"
            android:parentActivityName=".Navigation"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eazyedu.Navigation" />
        </activity>
        <activity
            android:name=".CustomSearch"
            android:parentActivityName=".Navigation"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SearchEngine" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
    </application>

</manifest>
